
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox1">
                    <div class="statistic-box">
                        <i class="fa fa-user-plus fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">11</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3> Hazır Ürünler </h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">4</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3>  Onaylanmış Ürünler</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox3">
                    <div class="statistic-box">
                        <i class="fa fa-money fa-3x"></i>
                        <div class="counter-number pull-right">
                            <i class="ti ti-money"></i><span class="count-number">965</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3>  Ödeme Bekleyen</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox4">
                    <div class="statistic-box">
                        <i class="fa fa-files-o fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">11</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3> Onay Bekleyen</h3>
                    </div>
                </div>
            </div>
        </div>

        </section>
